*{ /* asteric affects the whole code*/
    box-sizing: border-box;
}
body{
    background-color: #131720;
    font-family: sans-serif;
}
h3{
    color: white;
}
/*manipulating the nav bar*/
.topnav{
    overflow: hidden;
    background-color: #131720;
    padding: 10px; /*paddin moves text on all sides*/
}

.active{ /*for the tag in the top nav class*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16 px;
    text-decoration: none; /*removes the link underliner*/
    font-size: 1.2rem;
    text-transform: uppercase;

}
.searchcontainer{
    float: right;
}

/*Manipulating the form*/
form{
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
input{
    all: unset; /*removes the white part inside the form*/
    font: 15px system-ui ;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}
/*Manipulating the ims , row , colomn etc*/
.thumbnail{
    height: 350px;
    width: 300px;
    border-radius: 19px;
}
.colomn{
    float: left;

    padding: 10px 10px;
}
.card{
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}
